.container {
    display: flex;
    flex-direction: column;
  width: 70vw;
  height: 100vh;
  margin: auto;
  padding: 20px;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
  border-style:solid;
  border-right:none;
  border-top: none;
  border-left: #333;
}

.description {
    justify-content: center;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}

.proficiencies {
  margin-bottom: 20px;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style: none;
  padding-left: 0;
}

.bullet {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 5px;
}

.bullet::before {
  content: '•';
  margin-right: 8px;
  color: #ffc107;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-field {
  margin-bottom: 20px;
}

label {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

input,
textarea {
  width: 100%;
  max-width: 40rem;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ffc107;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #dca500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  width: 42rem; 
  height: 24rem; 
  border-radius: 10px;
}

.project-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-info a {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.github-icon {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background-color: white;
  border-radius: 100%;
}

.project:hover .project-info {
  opacity: 1;
}

@media (max-width: 768px) {
  .project-img {
    width: 100%;
    height: auto;
    max-width: 21rem;
    max-height: 12rem;
  }

  .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
}